/** Global style */

@import "./variables";

// Include bootstrap
@import "bootstrap/scss/bootstrap";

body {
    background-color: map-get($theme-colors, "light");
}

.element {
    background: red;
}

.container {
    &-image-landscape {
        height: 20rem;
    }
    &-image-portrait {
        width: 100%;
        // height: 60rem;
    }
    &-image-square {
        width: 100%;
    }
}

.bazooka-image {
    &-landscape {
        height: 100%;
    }
    &-portrait {
        height: 100%;
    }
    &-square {
        width: 100%;
    }
}

@media only screen and (min-width: 48em) {
    .container {
        &-image-landscape {
            height: 20rem;
        }
        &-image-portrait {
            width: 30rem;
            height: 45rem;
        }
        &-image-square {
            width: 10rem;
        }
    }
}
