// Style FocalPointImage

.element {
    background: red;
}

.bazooka-image {
    max-height: 24.75em;
    height: 100%;
}

@media only screen and (min-width: 48em) {
    .bazooka-image {
        max-height: 24.75em;
        height: 100%;
    }
}
